{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "tailwindAttributes": ["className", "tw", "clsx"],
  "tailwindFunctions": ["clsx", "cn"]
}
